.advantage-card {
    position: relative;
    padding: 20px;
}

.advantage-card::after {
    content: "";
    position: absolute;
    width: 52px;
    height: 52px;
    top: 20px;
    background: url("./../../../assets/eat-1.svg") no-repeat;
}

.advantage-card__tag {
    min-width: 178px;
    width: 178px;
    padding: 2px 10px;
    background: #88AA4D;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin: 0 0 4px 72px;
}

.advantage-card__text {
    color: #333333;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-top: 20px;
}
